.agence_container {
}

.textAlign {
    text-align: center;
}

#agence_NosMetiersContent {
    text-align: center;
}

.headlineBlack {
    font-weight: 700;
    margin-bottom: 25px;
    color: $secondary;
    margin-top: 50px;
}

.paddingP {
    margin: 0 auto;
    margin-bottom: 50px;    
}

.imgContainer {
    display: block;
    height: auto;
    position: relative;
    margin: 15px 0;
    background: $primary;
}

.imgContainer img{
    opacity: 0.3;
}

.imgContainer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.3rem;
    color: #fff;
}

.agence_square {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:0px;
    margin-bottom: 50px;
    list-style: none;

}

#EquipeContent {
    background: $light-grey;
    height: 100vh;
}

.agence_leftBlock {
    background: #fff;
    padding: 75px;
    text-align: center;
}

.agence_button { 
    padding: 10px 20px;
    border: solid 1px;
    color: #0b0726;
}

#MgBottom{
    margin-bottom: 3rem;
}



.cercle {
    background: $secondary;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-size: cover;
    margin-bottom: 50px;
    text-align: center;
    -webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;

    #prezEquipetAG {
        padding: 10px 20px;
        background: $primary;
        color: #fff;
    }

    #prezEquipeNom {
        margin-top: 10px;
    }

    p span {
        font-weight: 700;
        font-size: 1.3rem;
    }
}

// .cercle:hover {
//     transform: scale(1.05);
// }

.paddingCercle {
    padding: 3em;
}


#EquipeContent .marginTop {
    margin-top: 150px;
} 



#statsContent {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grey_Square {
    background: $light-grey;
    height: 80vh;
    width: 90vw;
    text-align: center;
    position: relative;
}

.spoutnikC {
    background: $primary;
    font-weight: 700;
    margin-top: 50px;    
    color: white;
    padding: 10px 0px;
    margin-bottom: 100px;
}

.CenterGreyContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.agence_statItems img {
    opacity: 0.08;
    padding: 20px;
}

.agence_statItems {
    position: relative;
}

.stat_All {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.stat_All p {
    text-transform: uppercase;
}

.NumberStats {
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: -20px;
}

#avis_center {
    text-align: center;
}


.effect-bubba {
    overflow: hidden;
}


.effect-bubba img {
	opacity: 0.3;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

.effect-bubba:hover img {
    opacity: 0.1;
    transform: scale(1.25);
}

.effect-bubba figcaption::before,
.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.5s;
	transition: opacity 0.35s, transform 0.5s;
}

.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

.effect-bubba:hover figcaption::before,
.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}


@media (max-width: 1500px) {
    #EquipeContent {
        height: inherit;
        padding-bottom: 50px;    
    }

    .agence_leftBlock {
        padding-top: 10px;
        margin-top: 15px; 
    }

    .fix_LeftBloc {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .spoutnikC {
        font-size: 2rem;
    }

    .agence_statItems {
        img {
            width: 150px;
        }

        .NumberStats {
            font-size: 3rem;
        }
    }

    .paddingCercle {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 1024px) {
    .agence_leftBlock {
        padding-left: 20px;
        padding-right: 20px;
    }
    .imgContainer p {
        font-size: 1rem;
    }

    .spoutnikC {
        margin-bottom: 50px;
    }
} 

@media (max-width: 324px) {
    .agence_button {
        padding: 10px 15px;
    }
    
    .spoutnikC {
        padding-left: 10px;
        padding-right: 10px;
    }
}    
