.contact_container p{
  color: black;
  left: 0;
  text-align: left;
  font-style: normal;
  font-weight: normal;
}

.explication, .info, .formulaire{
  margin: 50px;
}

.info img{
  width: 30px;
  float: left;
}

.info img:hover
{
  color: $primary;
}

.info p {
  padding: 5px 0px 15px 40px;
  font-weight: bold;
}

.info p:hover
{
  color: $primary;
}

.info img:hover
{
  opacity: 0.5;
  color: $primary;
}
