body.home.page-template.page-template-home.page.page-id-5.logged-in.admin-bar.app-data.index-data.singular-data.page-data.page-5-data.page-accueil-data.home-data.front-page-data.customize-support {
    overflow: hidden;
}

.backgroundhome{
    background-size:cover;
    background-position:center;
    height:100vh;
}

.backgroundhome .container_page{
    display:flex;
    height:100%;
    flex-direction: column;
}

.backgroundhome .container_page {
    justify-content:center;
    align-items:center;
    position:relative;
    bottom:20px;
}

.backgroundhome .container_page h1,.backgroundhome .container_page p{
    color:#fff;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight:bold;
    
}

.backgroundhome .container_page h1 span{
    background:$primary;
    padding-left: 30px;
    padding-right: 30px;
    text-transform: uppercase;
}

.backgroundhome .container_page .container_texte h1:before{
    content:"< ";
}

.backgroundhome .container_page .container_texte h1:after{
    content:" />";
}

.backgroundhome .container_page .container_texte h1:after,.backgroundhome .container_page .container_texte h1:before{
    color:$primary;
    font-size:50px;
}

.backgroundhome .container_page p{
    position:relative;
    left:100px;
}

.backgroundhome .container_page .explore_button{
    color:white;
    border:solid white 2px;   
    padding-left:35px;
    padding-right:35px;
    font-size:25px;
    font-weight:450;
    position:relative;
    top:70px;
}

.backgroundhome .container_page .explore_button:hover{
    color:$primary;
    background:white;
}
    


/**********MEDIA QUERIES**********/
@media only screen and  (max-width : 640px) {
.backgroundhome .container_page p{
    position:static;
    text-align:center;
}
    
.backgroundhome .container_page .container_texte h1:after,.backgroundhome .container_page .container_texte h1:before{
    font-size:30px;
}
    
}

