.rejoignez {
  text-align: center;
}

h2 {
  font-weight: bold;
}

input, select, option, textarea {
  background-color: $primary;
  opacity: 0.3;
  border-radius: 10px;
  padding: 10px;
}

.wpcf7-submit {
  background-color: white;
  border-radius: 0px;
  opacity: 1;
  border: 1px solid $primary;
}
