
.reference_container {
    .filter_works{
    display:flex;
    justify-content: center;
    background-color:$light-grey;
    align-items: center;
        
        p, h2{
            margin:0;
            //margin-left:10px;
            text-transform: uppercase;
            align-items: center;
            transition: all 150ms ease-in;
            padding:0px 0 15px 0;
            a{
                color:black;
                font-size:17px;
                font-weight: 600;
                transition: all 150ms ease-in;
            }

            &.active{
                background-color: $primary;
                a{color:#FFF;}
            }
            &:hover{
                background-color: $primary;
                a{color:#FFF;}
            }
        }
        .small-12{
            text-align:center;
        }
    }
    .references_works{
                display:flex;
                flex-direction: row;
                flex-wrap: wrap;
        
                .entry:hover .info_entry {
                    display:block;
                    opacity:1;
                    }

        
                .entry{
                    
                    height:320px;
                    width:25%;
                    //padding-top:100%;
                    display:flex;
                    flex-direction:column;
                    padding:0px;

                    .container_symbol{
                            text-align: center;
                            margin-top:auto;
                        padding-top:0px;
                            }
                    
                        .symbol{
                                 color:$light-grey;
                                 font-size:100px;   
                        }
                    
                    .container_title{
                            width:100%;
                            background-color:$light-grey;
                            margin-top:auto;
                            padding-top:0px;
                        
                        .title{
                                text-align: right;
                                margin-right:30px;
                                font-size:18px;
                                margin-top:0px;
                                margin-left:0px;
                                margin-bottom:0px;
                                padding-top:0px;
                              }
                        }
                        .info_entry{
                                opacity:0;
                                transition: all 0.1s;
                        }
                    
                    
                    }

                } 
    
    
}



