
.reference_container .filter_works{
    display:flex;
    justify-content: center;
    background-color:$light-grey;
    align-items: center;
}

.reference_container .filter_works p, .reference_container .filter_works a{
    margin:0;
    padding-top:15px;
    padding-bottom:15px;
    color:black;
    margin-left:10px;
    text-transform: uppercase;
}

.reference_container .references_works {
    display:flex;
    flex-direction: row;
        flex-wrap: wrap;
}

.reference_container .references_works .entry{
    height:250px;
    border:black solid 1px;
    width:25%;
    background-color: aquamarine;
}
