.btn{
  transition: all 300ms;
  cursor: pointer;
  &.white{
    background-color: white;
    &:hover{
      background-color: $primary;
    }
  }
  &.primary{
    background-color: $primary;
    &:hover{
      background-color: $secondary;
    }
  }
}
.btn-rounded-icon{
  border-radius: 50%;
  width: 35px;
  height: 35px;
}