.main_nav {
  margin:            20px 0;
  position:          fixed;
  width:             100%;
  z-index:           1;
  top: 50px;
  ul {
    display:         flex;
    justify-content: space-around;
    list-style:      none;
    a {
      color:         white;
    }
  }
}
