.navigation_navbar {
  // margin-bottom: 90px;
  $navigation_navbar-top-height: 100vh;
  $margin-horizontal: 50px;
  .logo_digitaleez {
    width: 53px;
    height: 58px;
  }
  &.open {
    .hamburger-container {
      background-color: $primary;
      &:hover {
        background-color: white;
        .hamburger span {
          background-color: $secondary;
        }
      }
      .hamburger span {
        background-color: white;
        &:nth-child(1) {
          top: 6px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
        &:nth-child(4) {
          top: 6px;
          width: 0%;
          left: 50%;
        }
      }
    } // NAV SLIDE
    .navigation_navbar-top {
      max-height: $navigation_navbar-top-height;
      .link {
        top: 0;
        opacity: 1;
        transition: top 400ms 150ms ease-out, opacity 400ms 250ms ease-out;
      }
    }
    .navigation_navbar-bottom {
      max-height: 100vh;
      .block-nav {
        &.navigation_navbar-contact {
          background-color: $secondary;
          top: 0;
          transition: top 300ms 100ms ease-in-out;
        }
        &.navigation_navbar-decouvrez {
          background-color: #5899f9;
          top: 0;
          transition: top 300ms 200ms ease-in-out;
        }
      }
    }
    .navigation_navbar-slide{
      max-height: 100%;
      z-index: 5;
      transition: max-height 500ms ease-in-out;
    }
  } // .open
  .navigation_navbar-bottom {
    max-height: 0;
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    transition: max-height 400ms 100ms ease-in-out;
    .block-nav {
      position: relative;
      color: white;
      padding: 5vh 0 0 5vh;
      &.navigation_navbar-contact {
        background-color: $secondary;
        top: 50vh;
        transition: top 300ms ease-in-out;
      }
      &.navigation_navbar-decouvrez {
        background-color: #5899f9;
        top: 50vh;
        transition: top 300ms ease-in-out;
      }
      .title {
        font-size: 26px;
        font-weight: bold;
        margin-bottom: 40px;
      }
      .sub-title {
        position: relative;
        font-size: 15px;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 25px;
        &:after {
          content: '';
          width: 100%;
          display: block;
          position: absolute;
          bottom: -9px;
          right: 0;
          left: 0;
          background-color: white;
          height: 1px;
        }
      }
      .content {
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
    }
  }
  .navigation_navbar-normal {
    top: 40px;
    z-index: 1;
    position: fixed;
    width: 100%;
    .link {
      position: absolute;
      top: 20px;
      display: inline-block;
      &.wexperience {
        left: $margin-horizontal;
      }
      &.logo-degitaleez-container {
        right: $margin-horizontal;
      }
      a {
        padding: 0;
      }
      .logo {
        margin-right: 18px;
      }
      .logo-text-container {
        transition: opacity 300ms;
        vertical-align: -19px;
        p {
          top: -4px;
        }
      }
    }
  }
  .navigation_navbar-top {
    height: $navigation_navbar-top-height;
    max-height: 0;
    transition: max-height 500ms ease-in-out;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: $primary;
    font-size: 26px;
    overflow: hidden;
    a {
      padding: 0;
    }
    .menu {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: nowrap;
      max-height: 50vh;
      width: 100%;
      max-width: 1500px;
      margin: 0 $margin-horizontal;
    }
    .link {
      position: relative;
      font-weight: bold;
      top: 20vh;
      opacity: 0;
      transition: top 400ms ease-out, opacity 400ms ease-out;
      a {
        color: white;
        &:hover {
          &::after,
          &::before {
            width: 100%;
            left: 0;
          }
        }
        &::after,
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          width: 0;
          right: 0;
          height: 4px;
        }
        &::before {
          transition: width .4s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
          background: white;
        }
        &::after {
          transition: width .2s cubic-bezier(0.29, 0.18, 0.26, 0.83);
          background: $secondary;
        }
      }
    }
    .logo-text {
      position: absolute;
      top: 60px;
      left: $margin-horizontal;
      z-index: 1;
      p {
        color: white;
      }
    }
  }
  .hamburger {
    margin: 0 auto;
    width: 26px;
    height: 15px;
    position: relative;
    transform: rotate(0deg);
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 25px;
      background: $secondary;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 6px;
      }
      &:nth-child(4) {
        top: 12px;
      }
    }
  }
  .navigation_navbar-slide {
    z-index: 5;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 300ms ease-in-out;
  }
  .logo-text {
    .logo-text-container {
      display: inline-block;
      vertical-align: -23px;
      p {
        position: relative;
        top: -10px;
        font-size: 14px;
        margin: 0;
      }
    }
    .logo {
      margin-right: 15px;
    }
    &.wexperience {
      .logo {
        width: 55px;
        height: 59px;
      }
      .text {
        width: 170px;
        height: 24px;
      }
    }
    &.digitaleez {
      position: absolute;
      top: 50%;
      left: 0;
      text-align: center;
      width: 100%;
      transform: translateY(-30%);
      .logo-text-container {
        text-align: left;
      }
      .logo {
        width: 107px;
        height: 114px;
      }
      .text {
        width: 210px;
        height: 53px;
      }
      p {
        color: white;
        top: 6px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  .hamburger-container {
    cursor: pointer;
    position: fixed;
    z-index: 6;
    top: 60px;
    right: 50%;
    transform: translateX(50%);
    width: 50px;
    text-align: center;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    transition: .25s ease-in-out;
    &:hover {
      background-color: $primary;
      .hamburger span {
        background-color: white;
      }
    }
  }
  @media (max-width: 992px) {
    .navigation_navbar-top {
      .menu {
        flex-wrap: wrap;
        align-content: center;
        margin-top: 15px;
        .link {
          display: block;
          width: 100%;
          margin: 17px 0;
          text-align: center;
          a:hover {
            &:before,
            &:after {
              content: none;
            }
          }
        }
      }
    }
    .navigation_navbar-bottom {
      .block-nav {
        padding: 2vh 0 0 2vh;
        .content {
          font-size: 13px;
        }
      }
    }
    .logo-text.digitaleez {
      .logo {
        width: 67px;
        height: 73px;
      }
      .text {
        width: 160px;
        height: 40px;
      }
    }
    &.open {
      .hamburger-container {
        right: 50px;
      }
    }
  }
  @media (max-height: 950px) and (min-width: 992px) {
    .navigation_navbar-bottom {
      height: 65vh;
    }
  }
  @media (max-width: 767px) {
    margin-bottom: 0px;
    .navigation_navbar-normal {
      .link {
        top: -30px;
        &.wexperience {
          left: 20px;
        }
        &.logo-degitaleez-container {
          right: 20px;
        }
      }
    }
    .navigation_navbar-top,
    .navigation_navbar-bottom,
    .block-nav {
      height: auto!important;
    }
    .navigation_navbar-slide {
      transition: max-height 1s ease-in-out;
      transition-delay: 1s;
      overflow-y: scroll;
      max-height: 0px;
    }
    .navigation_navbar-top {
      flex-direction: column;
      justify-content: baseline;
      .logo-text {
        width: 100%;
        height: auto;
        display: block;
        text-align: center;
        position: relative;
        text-align: left;
        .logo {
          margin-right: 0;
          position: absolute;
          top: -50px;
          left: -30px;
        }
      }
      .menu {
        padding-top: 60px;
        margin: 0;
        max-height: 100vh;
        .link {
          font-size: 18px;
          margin: 20px 0;
          &:last-child {
            margin-bottom: 40px;
          }
        }
      }
    }
    .navigation_navbar-bottom {
      .block-nav {
        padding: 40px 20px 40px 40px;
      }
      overflow: hidden;
      flex-direction: column;
      position: relative;
      .block-nav {
        &.navigation_navbar-contact {
          top: 100vh;
        }
      }
    }
    .logo-text.digitaleez {
      position: relative;
      top: 0;
      .logo {
        width: 50px;
        height: auto;
      }
      .text {
        width: 130px;
        height: auto;
      }
      p {
        font-size: 11px;
      }
    }
    .hamburger-container {
      top: 10px;
    }
    &.open{
      .navigation_navbar-bottom{
        max-height: 200vh;
      }
      .navigation_navbar-slide {
        max-height: 100%;
        transition: max-height 10ms ease-in-out;
      }
    }
  }
}
