.main_nav {
  margin:            20px 0;
  position:          fixed;
  width:             100%;
  z-index:           1;
  background:        rgba(57, 208, 154, 0.8);
  margin:            0;
  .dropdown.menu {
    display:         flex;
    justify-content: space-around;
    list-style:      none;
    a {
      color:         white;
    }
  }
  .submenu{
    background:      rgba(57, 208, 154, 0.5);
    border-color:    $primary;
  }
  .dropdown.menu>li.is-dropdown-submenu-parent>a::after{
    border-color:    $primary transparent transparent;
  }
}
