.single-references .page-header{

  box-shadow: inset 0 0 300px 2000px rgba($secondary, 0.7);
}

.page-header {
  background-position: center;
  background-repeat:   no-repeat;
  background-size:     cover;
  color:               white;
  height:              auto;
  
  &__titre{
    align-items:       flex-end;
    padding-bottom:    30px;
    padding-top:       400px;
    width:             100%;
    h1{
      font-size:       30px;
      font-weight:     bold;
    }

    span{
      background:      $primary;
      font-size:       35px;
      padding:         5px 20px;
      text-transform:  uppercase;
    }
  }
}

