.i {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
}

.full-h {
  height: auto;
  min-height: 100vh;
}

.center-xy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rounded {
  border-radius: 50%;
}

.mh1 {
  max-height: 1px;
}

.br {
  display: block;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.hidden {
  opacity: 0!important;
}

.overflow-hidden {
  overflow: hidden!important;
}

@media (max-width: 767px) {
  .full-h {
    min-height: 100vh;
  }
}
